@import "../styles/variables";

header {
  display: flex;
  padding: $default-padding-full;
  a {
    color: $font-color-primary;
    flex: 1;
    text-decoration: none;
    h1 {
      margin: 0;
    }
  }
}
