@import "../../node_modules/normalize.css/normalize.css";
@import url("//fonts.googleapis.com/css?family=Titillium+Web&display=swap");
@import "variables";
@import "flex";
@import "containers";

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
  'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
  sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  height: 100vh;
  width: 100vw;
  max-width: 100%;
  overflow-x: hidden;

  color: $font-color-primary;
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'Titillium Web', sans-serif;
}

a {
  color: $link-color-primary;
  transition: color .2s ease-in-out;
  &:hover {
    color: $hover-color;
  }
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
  monospace;
}
