@import "../../../styles/variables.scss";

button {
  background: $background-color-primary;
  color: $font-color-primary;
  padding: .2em .8em;
  border: none;
  outline: none;
  cursor: pointer;
  font-size: 1.2em;
  transition: color .2s ease-in-out, background-color .2s ease-in-out;
  &:hover {
    color: $hover-color;
    background-color: $background-color-hover;
  }
}
