.extra-large-container,
.large-container,
.medium-container,
.small-container {
  margin: 20px auto;
}

.extra-large-container {
  max-width: 1200px;
}

.large-container {
  max-width: 800px;
}

.medium-container {
  max-width: 500px;
}

.small-container {
  max-width: 300px;
}

.v-container-20 {
  min-height: 40vh;
}

.v-container-40 {
  min-height: 40vh;
}

.v-container-60 {
  min-height: 40vh;
}

.default-padded {
  padding: $default-padding-full;
}

.default-margin {
  margin: $default-margin-full;
}

.front-page-container {
  color: $font-color-secondary;
  background: url("./assets/food_landing.jpg") no-repeat bottom;
  background-size: cover;
  text-align: center;
  padding: $default-padding-left-right;
}
